@font-face {
  font-display: swap;
  font-family: 'Play';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/play-v19-latin-700.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Play';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/play-v19-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v32-latin-regular.woff2') format('woff2');
}

font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/roboto-v32-latin-500.woff2') format('woff2');
}

:root {
  --color-primary-1: #ffff;
  --color-primary-2: #2b7fff;
  --color-primary-3: #011c44;
  --color-secondary-1: #4a4a4a;
  --color-secondary-2: #747272;
  --color-secondary-3: #011f4a;
  --color-secondary-4: #ffd02b;
}
/* base styles */
body {
  color: var(--color-primary-3);
}
ul {
  list-style: none;
}
/* buttons */
.button {
  color: var(--color-primary-1);
  background-color: var(--color-primary-2);
  border: 2px solid var(--color-primary-2);
  border-radius: 32px;
  cursor: pointer;
}
/*.button:hover {
  color: var(--color-primary-2);
  background-color: transparent;
} */
/*links*/
.link {
  color: var(--color-primary-3);
}
.link:hover {
  color: var(--color-primary-2);
}
/* hero*/
.hero-title {
  color: var(--color-primary-light);
}
.hero-title .accent {
  color: var(--color-brand-light);
}
/*advantages*/
.advantages-list {
  color: var(--color-primary-light);
  background-color: var(--color-brand-light);
}
.section-title .accent {
  color: var(--color-brand-dark);
}
