@font-face {
  font-display: swap;
  font-family: 'Play';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/play-v19-latin-700.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Play';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/play-v19-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v32-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/roboto-v32-latin-500.woff2') format('woff2');
}

:root {
  --color-primary-1: #ffff;
  --color-primary-2: #2b7fff;
  --color-primary-3: #011c44;
  --color-secondary-1: #4a4a4a;
  --color-secondary-2: #747272;
  --color-secondary-3: #011f4a;
  --color-secondary-4: #ffd02b;
}
/* base styles */
body {
  color: var(--color-primary-3);
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}
.section-title {
  font-family: Play, sans-serif;
  font-size: 64px;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
}
.section-title .accent {
  color: var(--color-primary-2);
  
}
h3 {
  visibility: hidden;
}

ul {
  list-style: none;
}
/* buttons */
.button {
  color: var(--color-primary-1);
  background-color: var(--color-primary-2);
  border: 2px solid var(--color-primary-2);
  border-radius: 32px;
  cursor: pointer;
  font-weight: 600;
  line-height: 1.2;
}
.underbutton-text {
  font-size: 12px;
  font-weight: 400;
  text-align: center;
}

.link {
  color: var(--color-primary-3);
}
.link:hover {
  color: var(--color-primary-2);
}
/* hero section*/
.hero-title {
  color: var(--color-primary-2);
  font-family: Play, sans-serif;
  font-size: 140px;
  font-weight: 700;
  line-height: 0.8;
  text-transform: capitalize;
}
/* about us section*/
.about-us {
  font-size: 22px;
  line-height: 1.7;
  text-align: left;
}
.why-we {
  text-align: center;
  line-height: 1.3;
}

/*footer*/
.footer {
  color: var(--color-primary-1);
  font-style: normal;
}
.address-link {
  color: var(--color-primary-1);
  text-decoration: none;
  font-style: normal;
}

.address-copyright {
  color: var(--color-secondary-2);
  font-size: 13px;
  line-height: 1.2;
  font-style: normal;
}